﻿@using FaceWebAuth.TensorFlow.Models;
@model Tuple<string, IEnumerable<ClassifyImageResult>>
@{
    ViewData["Title"] = "ClassifyImage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Classify Image by TensorFlow</h2>

<form>
    <input type="text" value="@Model?.Item1" name="url" />
    <input type="submit" value="Analize url">
</form>
<br />

@if (Model != null)
{
    <img src="@Model.Item1" height="400" />
    <br />
    <table style="width:100%">
        <thead>
            <tr>
                <td>Score</td>
                <td>Tags</td>
            </tr>
        </thead>
        @foreach (var data in Model.Item2)
        {
            <tbody>
                <tr>
                    <td>@data.Score</td>
                    <td>@string.Join(',', data.Tags)</td>
                </tr>
            </tbody>
        }
    </table>
}


