﻿@using VDS.RDF;
@model Tuple<string, IEnumerable<Triple>>;

@{
    ViewData["Title"] = "Graph";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Graph: @Model.Item1</h2>

<form>
    <input type="text" value="@Model?.Item1" name="url" />
    <input type="submit" value="Open graph">
</form>

<table style="width:100%">
    <thead>
        <tr>
            <th>Subject</th>
            <th>Predicate</th>
            <th>Object</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var triple in Model.Item2)
        {
            <tr>
                <th>@triple.Subject</th>
                <th>@triple.Predicate</th>
                <th>@triple.Object</th>
            </tr>
        }
    </tbody>
</table>
