﻿@model IEnumerable<string>
@{
    ViewData["Title"] = "Classificate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Classificate</h2>

@foreach (var clssifiedUri in Model)
{
    <div>
        <p>clssifiedUri</p>
        <img src="@clssifiedUri" height="150" />
        <br />
    </div>
}