﻿@using VDS.RDF.Query
@model Tuple<string, SparqlResultSet>
@{
    ViewData["Title"] = "SPARQL";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string defSparqlQuery = Model?.Item1 ?? @"PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX fb: <https://www.facebook.com/#>
PREFIX fb-obj: <https://www.facebook.com/object#>
PREFIX fb-edge: <https://www.facebook.com/edge#>
PREFIX tensor: <https://www.tensorflow.org#>
PREFIX tensor-obj: <https://www.tensorflow.org/object#>
PREFIX tensor-edge: <https://www.tensorflow.org/edge#>

SELECT DISTINCT ?s ?name
FROM <https://www.facebook.com/fuseki/>
WHERE
{
    ?s rdf:type ""user"" .
    ?s fb:name ?name
}";
}

<h2>SPARQL</h2>

<form method="post">
    <textarea type="" name="query" style="width:100%; height:350px" >@defSparqlQuery</textarea>
    <br />
    <input type="submit" value="Run">
</form>
<br />

@if(Model?.Item2?.Results?.Any() != null)
{
    <p>Results:</p>
    <table style="width:100%;">
        <tbody>
            @foreach (var results in Model?.Item2.Results)
            {
                <tr>
                    @foreach (var res in results)
                    {
                        <td>@res.Key</td>
                        <td>@res.Value?.ToString()</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

