﻿@using VDS.RDF;
@model Tuple<string, IEnumerable<Triple>>;
@{
    ViewData["Title"] = "TestToken";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script>
        $(document).ready(function () {

            $('.AddFbTriplesByToken').click(function (event) {
                event.preventDefault();
                $('#MessageBox').empty();
                    $.ajax({
                        url: '@Url.Action("AddFbTriplesByToken", "Home")',
                        data: JSON.stringify($('#AccessToken').val()),
                        contentType: 'application/json',
                        type: 'POST',
                        success: function (obj) {
                            $('#MessageBox').text('Triples added');
                        },
                        error: function (obj) {
                            $('#MessageBox').text('Something goes wrong: ' + obj.status);
                        }
                    });
            });
        });
    </script>
}
<h2>Test Facebook Access Token</h2>

<form>
    <input type="text" value="@Model?.Item1" name="token" id="AccessToken"/>
    <input type="submit" value="Submit">
</form>

<p id="MessageBox"></p>
<input class="AddFbTriplesByToken" type="submit" value="AddFbTriplesByToken">

@if (Model?.Item2 != null)
{
<table style="width:100%">
    <thead>
        <tr>
            <th>Subject</th>
            <th>Predicate</th>
            <th>Object</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var triple in Model.Item2)
        {
            <tr>
                <th>@triple.Subject</th>
                <th>@triple.Predicate</th>
                <th>@triple.Object</th>
            </tr>
        }
    </tbody>
</table>
}