﻿@using Microsoft.AspNetCore.Identity
@using FaceWebAuth.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li><a asp-area="" asp-controller="Home" asp-action="Graph">Graph</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="ClassifyImage">ClassifyURL</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="SPARQL">SPARQL</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="RunClassification">RunFbClassify</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="TestToken">TestToken</a></li>
}